<div class="parallax-container">
  <div class="parallax"><%= image_tag("example.gif", :alt => "matrix") %></div>
</div>

  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item carouselcolor white-text" href="#one!">
      <div class="row">
        <div class="col m8 offset m2">
          <a target="_blank" href="https://github.com/F1nalFortune/calculator"><%= image_tag('ruby_calc.png', :class => "image") %></a>
        </div>
        <div class="col m2 targetlink">
          <p id="g" class="orbitron neon">g</p>
          <p class="vertword orbitron neon">i</p>
          <p class="vertword orbitron neon">t</p>
          <p class="vertword orbitron neon">H</p>
          <p class="vertword orbitron neon">u</p>
          <p class="vertword orbitron neon">b</p>
          <a href="https://github.com/F1nalFortune/calculator" target="_blank"><span class="fa fa-github fa-2x neon"></span></a>
        </div>
      </div>

    </div>
    <div class="carousel-item carouselcolorone white-text" href="#two!">
      <div class="row">
        <div class="col m8 offset m2">
          <a target="_blank" href="https://github.com/samhammer325/TMix"><%= image_tag('tmix_pic.png', :class => "responsive-image image") %></a>
        </div>
        <div class="col m2 targetlink">
          <p id="g" class="orbitron neon">g</p>
          <p class="vertword orbitron neon">i</p>
          <p class="vertword orbitron neon">t</p>
          <p class="vertword orbitron neon">H</p>
          <p class="vertword orbitron neon">u</p>
          <p class="vertword orbitron neon">b</p>
          <a href="https://github.com/samhammer325/TMix" target="_blank"><span class="fa fa-github fa-2x neon"></span></a>
        </div>
      </div>
    </div>
    <div class="carousel-item carouselcolor white-text" href="#three!">
      <div class="row">
        <div class="col m4 offset-m4">
          <a target="_blank" href="https://github.com/samhammer325/TMix"><%= image_tag('drink_and_thrive.png', :id => "thrive", :class => "responsive-image") %></a>
        </div>
        <div class="col m1 targetlink">
          <p id="g" class="orbitron neon">g</p>
          <p class="vertword orbitron neon">i</p>
          <p class="vertword orbitron neon">t</p>
          <p class="vertword orbitron neon">H</p>
          <p class="vertword orbitron neon">u</p>
          <p class="vertword orbitron neon">b</p>
          <a href="https://github.com/Reyholmgren/drinkandthrive" target="_blank"><span class="fa fa-github fa-2x neon"></span></a>
        </div>
        <div id="hlink" class="col m1">
          <div>
            <p id="g" class="orbitron neon">h</p>
            <p class="vertword orbitron neon">e</p>
            <p class="vertword orbitron neon">r</p>
            <p class="vertword orbitron neon">o</p>
            <p class="vertword orbitron neon">k</p>
            <p class="vertword orbitron neon">u</p>
          </div>
          <a href="drinkandthrive.herokuapp.com" target="_blank"><span class="fa fa-h-square fa-2x neon"></span></a>
        </div>
      </div>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
        

<div class="parallax-container">
  <div class="parallax"><%= image_tag("example.gif", :alt => "matrix") %></div>
</div>

<h1 class="white-text"> Hello WOrld </h1>
<p class="white-text"> Hello WOrld </p>
<%= image_tag("Resume.pdf", :alt => "Promo Image", :class => "circle profpic responsive-image") %>