<div class="parallax-container">
  <div class="parallax"><%= image_tag("example.gif", :alt => "matrix") %></div>
</div>

  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item carouselcolor white-text" href="#one!">
      <div class="row">
        <div class="col m8 offset m2">
          <a target="_blank" href="https://github.com/F1nalFortune/calculator"><%= image_tag('ruby_calc.png', :class => "image") %></a>
        </div>
        <div class="col m2 githublink">
          <p id="g" class="orbitron neon">g</p>
          <p class="vertword orbitron neon">i</p>
          <p class="vertword orbitron neon">t</p>
          <p class="vertword orbitron neon">H</p>
          <p class="vertword orbitron neon">u</p>
          <p class="vertword orbitron neon">b</p>
          <a href="https://github.com/F1nalFortune/calculator" target="_blank"><span class="fa fa-github fa-2x neon"></span></a>
        </div>
      </div>

    </div>
    <div class="carousel-item carouselcolorone white-text" href="#two!">

        <div class="col m8 offset m2">
          <a target="_blank" href="https://github.com/samhammer325/TMix"><%= image_tag('tmix_pic.png', :class => "responsive-image image
          ") %></a>
        </div> -->
        <div class="col m2 githublink">
          <p id="g" class="orbitron neon">g</p>
          <p class="vertword orbitron neon">i</p>
          <p class="vertword orbitron neon">t</p>
          <p class="vertword orbitron neon">H</p>
          <p class="vertword orbitron neon">u</p>
          <p class="vertword orbitron neon">b</p>
          <a href="https://github.com/F1nalFortune/calculator" target="_blank"><span class="fa fa-github fa-2x neon"></span></a>
        </div>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
        

<div class="parallax-container">
  <div class="parallax"><%= image_tag("example.gif", :alt => "matrix") %></div>
</div>

<h1 class="white-text"> Hello WOrld </h1>
<p class="white-text"> Hello WOrld </p>
<%= image_tag("Resume.pdf", :alt => "Promo Image", :class => "circle profpic responsive-image") %>